h1{
    text-align: center;
    color: purple;
}
h2{
    text-align: center;
    color: pink;
}
div{
    text-align: center;
}
p{
    text-align: center;
}
h3{
    text-align: center;
    color: darkblue;
}
